SAP_DB_USER=
SAP_DB_PASSWORD=
SAP_DB_SERVER=
SAP_DB_DATABASE=
SAP_DB_PORT=
SAP_DB_ENCRYPT=false
SAP_DB_TRUST_CERT=true

APP_DB_HOST=
APP_DB_USER=
APP_DB_PASSWORD=
APP_DB_DATABASE=
APP_DB_PORT=3306

EXTRA_BEATS=1.5